{% extends 'access.html' %} <!-- end access.html -->

{% set active_page = 'create_user_entry' %}

{% block title %}Create User Entry{% endblock %}

{% block access %}

  <form action="{{ url_for('create_user_entry') }}"
            method="post" autocomplete="off"
            class="needs-validation"
            novalidate>

    <div class="form-outline input-group has-validation mb-4">
      <span class="input-group-text">Site Name</span>
      <input type="text" name="site_name"
                   class="form-control"
                   id="site_name"
                   autofocus required>
      <div class="invalid-feedback">
                Please enter site name
      </div>
    </div>

    <div class="form-outline input-group has-validation mb-4">
      <span class="input-group-text">Site Username</span>
      <input type="text" name="site_username"
             class="form-control"
             id="site_username"
             autofocus required>
      <div class="invalid-feedback">
        Please enter site username
      </div>
    </div>

    <div class="form-outline input-group has-validation mb-4">
      <span class="input-group-text">Site Password</span>
      <input type="text" name="site_password"
             class="form-control"
             id="site_password"
             autofocus required>
      <div class="invalid-feedback">
        Please enter site password
      </div>
    </div>

    <div class="form-outline input-group mb-4">
            <span class="input-group-text">Generated Password</span>
            <input type="text" name="generated_password" class="form-control" id="generated_password" readonly/>
        </div>
    <button type="button" id="generatePasswordBtn" onclick="generatePassword()" class="btn btn-outline-primary">Generate Strong Password</button>
    <span id="generatedPassword" class="mx-2"></span>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show d-flex align-items-center" role="alert">
                    <p class="mb-0">{{ message }}.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <button type="submit"
                class="btn btn-outline-secondary">
            Submit
        </button>
  </form>

  <script>
        function generatePassword() {
            var length = 15;
            var smallLetters = 'abcdefghijklmnopqrstuvwxyz';
            var bigLetters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            var numbers = '0123456789';
            var symbols = '@#$%=:?.|~>*()/';
            var possibleCharacters = [smallLetters, bigLetters, numbers, symbols];

            var randDigit = smallLetters.charAt(Math.floor(Math.random() * smallLetters.length));
            var randSymbol = symbols.charAt(Math.floor(Math.random() * symbols.length));
            var randSmallLetters = smallLetters.charAt(Math.floor(Math.random() * smallLetters.length));
            var randBigLetters = bigLetters.charAt(Math.floor(Math.random() * bigLetters.length));

            var tempPass = randDigit + randSymbol + randSmallLetters + randBigLetters;

            for (var i = 0; i < length - 4; i++) {
                var randomChar = possibleCharacters[Math.floor(Math.random() * possibleCharacters.length)];
                tempPass += randomChar.charAt(Math.floor(Math.random() * randomChar.length));
            }

            var passwordInput = document.getElementById("generated_password");
            passwordInput.value = tempPass;
        }
    </script>

{% endblock %}