{% extends 'access.html' %} <!-- end access.html -->

{% set active_page = 'login' %}

{% block title %}Log In{% endblock %}

{% block access %}

    <!-- development warning alert -->
    <div class="row">
        <div class="col">
            <div class="alert alert-warning d-flex align-items-center mb-4" role="alert">
                <svg class="bi flex-shrink-0" role="img" aria-label="Danger:" width="16px" height="16px"
                     style="fill:currentColor;">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div class="col mx-2">
                    Welcome! Please note this website is under active development, meaning you may run into some snafus
                    during your visit.
                </div>
                <div class="col-auto">
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>

            </div>
        </div>
    </div>

    <div class="btn-group mb-4" style="width:100%;">
        <a href="{{ request.full_path }}" class="btn active">Log In</a>
        <a href="{{ url_for('register', redirect_to=request.args.get('redirect_to', '/')) }}" class="btn">Register</a>
    </div>

    <form action="{{ request.full_path }}"
          method="post"
          class="needs-validation"
          novalidate>

        <div class="form-outline input-group has-validation mb-4">
            <span class="input-group-text">Username</span>
            <input type="text" name="username" class="form-control" id="username" autofocus required />
            <div class="invalid-feedback">Enter your username</div>
        </div>

        <div class="form-outline input-group has-validation mb-4">
            <span class="input-group-text">Password</span>
            <input type="password" name="password" class="form-control" id="password" required />
            <div class="invalid-feedback">Enter your password</div>
        </div>

        <div class="form-outline input-group mb-4">
            <span class="input-group-text">Generated Password</span>
            <input type="text" name="generated_password" class="form-control" id="generated_password" readonly/>
        </div>
    <button type="button" id="generatePasswordBtn" onclick="generatePassword()" class="btn btn-outline-primary">Generate Strong Password</button>
    <span id="generatedPassword" class="mx-2"></span>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show d-flex align-items-center" role="alert">
                    <p class="mb-0">{{ message }}.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

        <button type="submit" class="btn btn-outline-secondary">Log In</button>
    </form>

    <script>
        function generatePassword() {
            var length = 15;
            var smallLetters = 'abcdefghijklmnopqrstuvwxyz';
            var bigLetters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            var numbers = '0123456789';
            var symbols = '@#$%=:?.|~>*()/';
            var possibleCharacters = [smallLetters, bigLetters, numbers, symbols];

            var randDigit = smallLetters.charAt(Math.floor(Math.random() * smallLetters.length));
            var randSymbol = symbols.charAt(Math.floor(Math.random() * symbols.length));
            var randSmallLetters = smallLetters.charAt(Math.floor(Math.random() * smallLetters.length));
            var randBigLetters = bigLetters.charAt(Math.floor(Math.random() * bigLetters.length));

            var tempPass = randDigit + randSymbol + randSmallLetters + randBigLetters;

            for (var i = 0; i < length - 4; i++) {
                var randomChar = possibleCharacters[Math.floor(Math.random() * possibleCharacters.length)];
                tempPass += randomChar.charAt(Math.floor(Math.random() * randomChar.length));
            }

            var passwordInput = document.getElementById("generated_password");
            passwordInput.value = tempPass;
        }
    </script>
{% endblock %}